.container {
  margin:auto;
  max-width: 1000px;
}
.row {
  display: flex;
  flex-direction: row;
}
.block {
  display: block;
}
table {
  width: 100%;
}
th, td{
  text-align: left;
  padding: 5px 10px 5px 10px;
}


